
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="details">
    <div class="orders-area">
        <div class="orders-header">
            <h2 class="order-title">Add Pets</h2>
            @*<a href="" class="btn btn-primary rounded-pill order-btn">View All</a>*@
        </div>


    </div>

    <div class="clients">
        <h3 class="order-title">Added Pets</h3>


    </div>
</div>

<div class="footer w-100 p-3 fixed-bottom bg-dark">
    <p class="text-center text-white">Copyright © 2022 | Js-Dev . All rights Reserved .</p>
</div>
