
@{
    ViewBag.Title = "Account";
}
@Html.Raw(TempData["message"])
@*<h2>Login</h2>*@
<section class="loginSec">
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="d-flex align-items-center justify-content-center w-100" style="height: 100vh;">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form>
                        <div class="form-group mb-3">
                            <label for="text " class="mt-1">UserId:</label>
                            <input type="text" id="text" name="userName" class="form-control mt-1" placeholder="Enter User Id">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="mt-1">Password:</label>
                            <input type="password" name="userPass" id="password" class="form-control mt-1 " placeholder="Enter Password">
                        </div>
                        <div class="text-center mb-2">
                            <button type="submit" class="btn btn-primary btn-block mt-2 w-100">Login</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="anchor">
                                @Html.ActionLink("Create Account", "Register", "Account", null, new { @class = "btn btn-link p-0 anchor" })
                            </div>
                            <div class="anchor">
                                <a href="#" class="btn btn-link p-0 anchor">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</section>

