
@{
    ViewBag.Title = "About";
}


<section style="margin-top: 60px;">
    <div class="container">
        <h3 class="pt-4 text-secondary mb-2">Get in touch in person!</h3>
        <div id="googleMap" style="width:100%;height:400px;"></div>
    </div>
</section>